---
layout: post
title: Grossing Movies List
description: The list of the highest grossing movies in the world.
toc: false
comments: true
categories: [5.A, C4.1]
courses: { compsci: {week: 3} }
type: tangibles
---

<!-- Head contains information to Support the Document -->
<head>
    <!-- load jQuery and DataTables output style and scripts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>var define = null;</script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>

<h2>HTML Cell Output from Jupyter</h2>

<!-- Body contains the contents of the Document -->
<body>
    <table id="md_demo" class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Year</th>
                <th>Movie</th>
                <th>Worldwide Box Office Sales ($)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2009</td>
                <td>Avatar</td>
                <td>2,923,706,026</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2019</td>
                <td>Avengers: Endgame</td>
                <td>2,788,912,285</td>
            </tr>
            <tr>
                <td>3</td>
                <td>2022</td>
                <td>Avatar: The Way of Water</td>
                <td>2,319,591,720</td>
            </tr>
            <tr>
                <td>4</td>
                <td>1997</td>
                <td>Titanic</td>
                <td>2,222,985,568</td>
            </tr>
            <tr>
                <td>5</td>
                <td>2015</td>
                <td>Star Wars Ep. VII: The Force Awakens</td>
                <td>2,064,615,817</td>
            </tr>
            <tr>
                <td>6</td>
                <td>2018</td>
                <td>Avengers: Infinity War</td>
                <td>2,048,359,754</td>
            </tr>
            <tr>
                <td>7</td>
                <td>2021</td>
                <td>Spider-Man: No Way Home</td>
                <td>1,910,048,245</td>
            </tr>
            <tr>
                <td>8</td>
                <td>2015</td>
                <td>Jurassic World</td>
                <td>1,669,963,641</td>
            </tr>
            <tr>
                <td>9</td>
                <td>2019</td>
                <td>The Lion King</td>
                <td>1,647,733,638</td>
            </tr>
            <tr>
                <td>10</td>
                <td>2012</td>
                <td>The Avengers</td>
                <td>1,515,100,211</td>
            </tr>
            <tr>
                <td>11</td>
                <td>2015</td>
                <td>Furious 7</td>
                <td>1,511,986,364</td>
            </tr>
            <tr>
                <td>12</td>
                <td>2022</td>
                <td>Top Gun: Maverick</td>
                <td>1,475,173,105</td>
            </tr>
            <tr>
                <td>13</td>
                <td>2019</td>
                <td>Frozen II</td>
                <td>1,453,683,476</td>
            </tr>
            <tr>
                <td>14</td>
                <td>2015</td>
                <td>Avengers: Age of Ultron</td>
                <td>1,395,316,979</td>
            </tr>
            <tr>
                <td>15</td>
                <td>2023</td>
                <td>Barbie</td>
                <td>1,385,851,484</td>
            </tr>
            <tr>
                <td>16</td>
                <td>2023</td>
                <td>The Super Mario Bros. Movie</td>
                <td>1,359,685,007</td>
            </tr>
            <tr>
                <td>17</td>
                <td>2018</td>
                <td>Black Panther</td>
                <td>1,336,494,320</td>
            </tr>
            <tr>
                <td>18</td>
                <td>2017</td>
                <td>Star Wars Ep. VIII: The Last Jedi</td>
                <td>1,331,635,141</td>
            </tr>
            <tr>
                <td>19</td>
                <td>2011</td>
                <td>Harry Potter and the Deathly Hallows: Part II</td>
                <td>1,313,548,963</td>
            </tr>
            <tr>
                <td>20</td>
                <td>2018</td>
                <td>Jurrasic World: Fallen Kingdom</td>
                <td>1,308,323,302</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2013</td>
                <td>Frozen</td>
                <td>1,283,756,880</td>
            </tr>
            <tr>
                <td>22</td>
                <td>2017</td>
                <td>Beauty and the Beast</td>
                <td>1,268,697,483</td>
            </tr>
            <tr>
                <td>23</td>
                <td>2018</td>
                <td>Incredibles 2</td>
                <td>1,242,805,359</td>
            </tr>
            <tr>
                <td>24</td>
                <td>2017</td>
                <td>The Fate of the Furious</td>
                <td>1,235,534,014</td>
            </tr>
            <tr>
                <td>25</td>
                <td>2013</td>
                <td>Iron Man 3</td>
                <td>1,215,392,272</td>
            </tr>
            <tr>
                <td>26</td>
                <td>2015</td>
                <td>Minions</td>
                <td>1,157,271,759</td>
            </tr>
        </tbody>
    </table>
</body>

<!-- Script is used to embed executable code -->
<script>
    $("#md_demo").DataTable();
</script>